.videoFooter {
  position: relative;
  color: #ffffff;
  bottom: 160px;
  padding: 10px;
  display: flex;
  margin-left: 40px;
}

@keyframes spinLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.videoFooter__text {
  flex: 1;
}
.videoFooter__text > p {
  padding-bottom: 20px;
}

.videoFooter__icon {
  position: absolute;
}

.videoFooter__ticker > .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}

.videoFooter__logo {
  animation: spinLogo infinite 5s linear;
  height: 50px;

  /* to change the colour HACK */
  filter: invert(1);
  position: absolute;
  bottom: 0;
  right: 0;
}
